.gender__input {
  margin: auto;
  width: 300px;
  font-size: 16px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
}

.gender__btn {
  margin: auto;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.gender__output {
  font-size: 16px;
  text-align: center;
}